<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes</title>
    {% extends 'navbar.html' %}
    {% block content %}
    <!-- Note input -->
    <form method="POST" action="{% url 'add note' %}"> {% csrf_token %}
        {{ form.note }}
        <div style="color: #dc3545;">{% for error in form.note.errors %}{{ error }}{% endfor %}</div>
        <button type="submit" class="btn btn-primary" id="save_note">Save</button>
    </form>

    {% for n in note %}
    <!-- Notes view -->
    <div class="card note">
        <div class="card-body">
            <div>{{ n.note|capfirst }}</div>
            <p style="color: rgb(136, 134, 134);">{{ n.publish_date }}</p>
            <form method="POST" action="{% url 'delete note' n.id %}"> {% csrf_token %}
                <div class="d-flex gap-1 justify-content-md-end btn-group-sm">
                    <button type="submit" class="btn btn-danger btn-sm" name="note_id" value="{{ n.id }}">Delete</button>
                
            </form>
            <a href="{% url 'update note' n.id %}" class="btn btn-secondary">Update</a></div>
        </div>
    </div>
    {% empty %}
    <!-- No notes -->
    <center>
        <img src="https://abncc.github.io/todolist_style/no_data.svg" alt="You really don't have notes?" id="no_data">
    </center>
    {% endfor %}
    {% if note %}
    <div class="container-fluid start-50" id="search">
        <img src="https://abncc.github.io/todolist_style/Thinking%20v1.1.png" class="fixed-bottom start-50" alt="Searching for something?" style="width:27%;">
        <p class="fixed-bottom" id="cant" style="color: #013b84;">I Can't remember that</p>
    <div id="think" class="d-flex fixed-bottom">
      <input class="form-control me-2 search-input" type="search" placeholder="Looking for..." aria-label="Search" maxlength="100" style="background-color: #e3f2fd;" id="search-input" required>
      </div>
    </div>
    {% endif %}
    </body>
</html>
{% endblock %}