<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes</title>
{% extends 'navbar.html' %}
{% block content %}
<!-- Note input -->
<form method="POST" action="{% url 'add note' %}"> {% csrf_token %}
    {{ form.note }}
    <button type="submit" class="btn btn-primary" id="save">Save</button>
</form>

{% for n in note %}
<!-- Empty note alert -->
{% if n|striptags == "" %}
<script>
    alert("Remove the '<>' tags to show the note");
</script>
{% endif %}
<!-- Notes view -->
<div class="card ">
    <div class="card-body">
        {{ n.note|striptags|capfirst }}<br>
        <p style="color: rgb(136, 134, 134);">{{ n.publish_date }}</p>
        <form method="POST" action="{% url 'delete note' n.id %}"> {% csrf_token %}
            <div class="d-grid gap-1 justify-content-md-end">
                <button type="submit" class="btn btn-danger btn-sm" name="note_id" value="{{ n.id }}">Delete</button>
            </div>
        </form>
    </div>
</div>
{% empty %}
<!-- No notes -->
<img class="img-fluid position-absolute top-50 start-50 translate-middle"
     src="https://ihome.agency/en/images/empty-list.png" alt="You really don't have notes?" id="no_data_img">
{% endfor %}
</body>
</html>
{% endblock %}