<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="shortcut icon" type="image/x-icon" href="https://abncc.github.io/todolist_style/logo.png">
        <meta charset="UTF-8">
        <title>Password Changed</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://abncc.github.io/todolist_style/reset-style.css">
    </head>

    <body>

        <div id="login-form-wrap">
            <h2>Password reset complete</h2>
            <form id="login-form" action="{% url 'login' %}">
                <p>
                    Your password has been set. You may go ahead and log in now.
                </p>
                <p>
                    <input type="submit" id="login" value="Log in">
                </p>
            </form>
            <div id="create-account-wrap">
                <p>
            </div>
        </div>
    </body>

</html>
